body{
    background-image: url("https://i.pinimg.com/564x/a9/a3/e1/a9a3e138385beb21fb7ff6637cfb5a27.jpg");
    font-size: 30px;
  }
  
  .quote-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  
    background-color: #F4EDEA;
    border: 10px solid #F4D1AE;
    color: gray;
  
    width: 70%;
    width: 900px;
    height: 450px;
    margin: auto;
    margin-top: 6%;
    padding: 0 50px;
  }
  
  
  .btn-container{
    text-align: center;
  }