body{
    background-image: url("https://lh3.googleusercontent.com/2Fz6Fn5zq_hh75oNLsyNqyGSHzPopHojN77Eu6GImw_3bb4JteONR_K8lnCY2nRbZQV9RD7ACVYvTHEEoW6oGt2GNkAVXzsGdHl1XI9JWwr9ojo3N7t5mYgqaux8lESdvi4mJTti4Ok=w2400");
    font-size: 30px;
  }
  
  .quote-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  
    background-color: #F4EDEA;
    border: 10px solid #F4D1AE;
    color: gray;
  
    width: 70%;
    width: 900px;
    height: 450px;
    margin: auto;
    margin-top: 6%;
    padding: 0 50px;
  }
  
  
  .btn-container{
    text-align: center;
  }